body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F5F1EE;
}

h1 {
    color: #c41f40;
    margin-bottom: 5px;
}

.container {
    margin: auto;
    margin-bottom: 10px;
    padding: 10px;
    width: 60%;
    border-radius: 10px;
    background-color: #ffffff;
}

.title, .form-container {
    text-align: center;
}

#error {
    color: red;
    height: 20px;
    margin: auto;
    margin-top: 5px;
}

.hidden {
    visibility: hidden;
}

#results-list {
    list-style: disc;
    column-count: auto;
    column-width: 5rem;
}

li {
    padding: 2px 0px;
}


@media screen and (max-width: 425px) {
    .container {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 75%;
    }
}