body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F5F1EE;
    min-height: 98vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.2rem;
}

h1 {
    color: #c41f40;
    margin-bottom: 5px;
}

button {
    background-color: #c41f40;
    margin: 2px;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    height: 25px;
    width: 80px;
}

input {
    height: 19px;
}

.container {
    margin-bottom: 10px;
    padding: 10px;
    width: 60%;
    border-radius: 10px;
    background-color: #ffffff;
    min-height: 80px;
}

#header-container, #form-container {
    text-align: center;
}

#results-container {
    margin-bottom: 20px;
}

#error {
    color: red;
    height: 20px;
    margin: auto;
    margin-top: 5px;
}

.hidden {
    visibility: hidden;
}

#results-list {
    list-style: disc;
    column-count: auto;
    column-width: 5rem;
}

li {
    padding: 2px 0px;
}

footer {
    min-height:2vh;
}

@media screen and (max-width: 768px) {
    .container {
        width: 75%;
    }

    body {
        font-size: 1.1rem;
    }
}


@media screen and (max-width: 425px) {
    .container {
        width: 90%;
    }

    body {
        font-size: 1rem;
    }
}